<!DOCTYPE html>

<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>DartAngularHello</title>
    <link rel="stylesheet" href="dartangularhello.css">
  </head>
  <body>
    <h1>DartAngularHello</h1>
    
    <div my-googlechart></div>
    
    <div my-hello>
    <p>Hello world from AngularDart!</p>
    <h3>Hello {{hello.name|capitalize}} Age={{hello.age}}!</h3>
    Name: <input type="text" ng-model="hello.name">
    <h3>Age: {{hello.age}}</h3>
      Age: <input type="number" ng-model="hello.age">
     <button ng-click="hello.foo()">foo</button>
    </div>
    <hr/>
    
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="packages/shadow_dom/shadow_dom.min.js"></script>
    <script type="application/dart" src="main.dart"></script>
    <script type="text/javascript" src="packages/browser/dart.js"></script>
  </body>
</html>
