<!DOCTYPE html>

<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>AngularDart Survey CH2</title>
    <link rel="stylesheet" href="survey.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">AngularDart Survey CH2</h3>
      </div>
    <div class="jumbotron" survey>
    <h3 class="pointer">Survey List</h3>
    <ul>
      <li class="pointer"
          ng-repeat="survey in ctrl.surveys"
          ng-click="ctrl.selectSurvey(survey)">
        {{survey.name}}
      </li>
    </ul>
  
    <h3>Survey Details</h3>
    <div><strong> Name: </strong>{{ctrl.selectedSurvey.name}}</div>
    <div><strong> Category: </strong>{{ctrl.selectedSurvey.category}}</div>
    <div><strong> Rating: </strong>{{ctrl.selectedSurvey.rating}}</div>
    <div>
      <ul>
        <li ng-repeat="question in ctrl.selectedSurvey.questions">
          {{question.title}}
        </li>
      </ul>
    </div>
  </div>
      
  <div class="row marketing">
        <div class="col-lg-6">
          <h4>Subhea</h4>
          <p>Donec id el porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading2</h4>
          <p>Morbi leo risus,xxx purus sit amet fermentum.</p>

          <h4>Subheading3</h4>
          <p>Maecenas sed xxxmagna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading4</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading5</h4>
          <p>Morbi leo risua ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading6</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <div class="footer">
        <p>&copy; Company 2014</p>
      </div>
</div>
  
    <script src="packages/shadow_dom/shadow_dom.min.js"></script>
    <script type="application/dart" src="survey.dart"></script>
    <script src="packages/browser/dart.js"></script>
  </body>
</html>
